/*css styling for pig dice*/

.page-Header{
	font-family:Pacifico;
	font-size: 70px;
	text-align: center;
	font-weight: bold;
	color: indigo;
}

body{
	background: url('img/cool.webp');
	margin: auto;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}


}
.good{
	height:50px;
	width:500px;
}

#btnCool{
	align-content: right;
	width: 150px
}

#wht{
	color: #fff;
}

#me{
	float:left;

}

#trans{
	background: transparent;
	height:40px;
}
#mesh{
 float: right;
 width:500px;
 background: purple;
}
